.espacio_mas{
    padding-top: 10rem;
}
.logo_anterior{
    padding: 20% 20% 20% 20%;
    max-width: auto;
    min-width: 200px;
}
.content video{
    min-width:50px;
}
h2{
    color: #fff;
    margin-bottom: 1rem;    
}
.logo_anterior p{
    color: #fff;
    margin-top: 1rem;  
}
.card h4{
    text-align: initial;
}

