table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #f2f2f242;
  }
  tr:nth-child(even) {
    background-color: #f2f2f200;
  }
  /* Línea divisoria */
  td:first-child {
    border-right: 2px solid rgb(255, 255, 255);
  }